<!DOCTYPE html>
<html lang="en">

<head>

    <title><%= titleApp %></title>
    <meta charset="uth-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

<%- include("partials/headProfile.ejs") %>

<div class="row container">

    <div class="row userData col-4">
        <img src="/images/<%= user[0].photo %>" id="photoProfile" class=" mt-4 ml-3" alt="userPhoto">
        <h3 class="ml-4 mt-4"><%= user[0].name %> <%= user[0].userName %></h3>
    </div>

    <div class="addPost col-6 offset-4">

        <div class="post col-5">
            <input type='file' onchange='openFile(event)'><br>
        </div>

        <div class="setPost col-7 mt-4">
            <img id='output' class="col-12">
        </div>

        <div id="comment" class="col-7">
            <i class='far fa-comment-alt' style='font-size:28px' id="commit_icon"></i>
            <h3>Comment</h3>
        </div>

        <div id="setMessage" class="col-7">
            <form name="commentForm" id="commentForm">
                <input type="text" name="comment" id="setComment" class="col-11">
                <i class="material-icons" id="sendComment">send</i>
            </form>
        </div>

        <div id="writeComment" class="col-5">

        </div>

    </div>

</div>

<script src="../public/script/profile.js"></script>
<script>
    document.getElementById("sendComment").addEventListener("click", function (e) {
        e.preventDefault();

        const commentForm = document.forms["commentForm"];
        const commentValue = commentForm.elements["comment"].value;
        if (commentValue !== "") {
            comment(commentValue);
        }
    })

    async function comment(comment) {
        await axios.post(`/comment/ <%= user[0].id %>`, {
            comment: comment,
        }).then((res) => {
            writeComment(res)
        }).catch((err) => {
            console.log(err);
        })
    }

    let idUnique = 1;

    function writeComment(res) {
        const containerComment = document.createElement("div");
        const comment = document.createElement("p");
        containerComment.setAttribute('id', `containerComment${idUnique}`);
        comment.setAttribute('class', "commentUser");
        comment.innerText = res.data.comment;
        document.getElementById("writeComment").appendChild(containerComment);
        document.getElementById(`containerComment${idUnique}`).appendChild(comment);
        document.getElementById(`containerComment${idUnique}`).appendChild(editComment());
        document.getElementById('setComment').value = '';
        idUnique++;
    }

    function editComment() {
        const editComment = document.createElement("i");
        editComment.setAttribute('class', "far fa-edit");
        editComment.setAttribute('id', 'edit');
        return editComment;
    }



</script>

</body>
</html>